<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/signin.css" type="text/css">
    <title>登录</title>
</head>
<!--登录界面-->
<body>
    <div class="body">
        <div class="item">
            <p class="title">Reader 后台管理系统</p>
            <form  class="login" action="/admin" method="post">
                <input class="input" type="text" placeholder="帐号" name="username" />
                <br>
                <input class="input"type="password" placeholder="密码" name="password" />
                <br>
                <input class="input1" type="submit" value="登录" />
            </form>
        </div>
    </div>
</body>

</html>
